/* Tailwind 클래스 정리 */
/* Tailwind 기본 초기화 */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-100 text-gray-800;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.25);
}


h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

a {
  @apply text-blue-600 hover:text-blue-800;
}
